body{
    background-color: aquamarine;
}

.container{
    background-color: rgb(250, 248, 248);
    width: 42rem;
    height: 38rem;
    margin: auto;
    margin-top: 2rem;
    border-radius: .5rem;
}
h2{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 30rem;
    margin-left: 1.5rem;
}

form span{
    color: red;
}

form label{
    display: flex;
    margin-top: 1rem;
    font-size: 1rem;
}
form input{
    width: 100%;
    padding: 7px;outline: none;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;

}

.btn{
    width: 30rem;
    height: 2.5rem;
    margin-top: 20px;
    background-color: green;
    color: white;
    font-size: 19px;
    cursor: pointer;

}



@media only screen and (max-width: 600px) {
    .container{
       
        width: calc(100vw-35vw);
        height: 30rem;
       
    }

  }
